<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QiniuSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22C47B4D18A8BAE8006F6C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22C47B5A18A8BAE8006F6C91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30029D51165385F600167078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30029D62165385F600167078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
